{% extends 'home/main.html' %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Account</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Account</li>
                        </ol>
                    </div>
                    <table class="table col-md-8" >
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Account Number</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                            <td>{{ d.account_number }}</td>
                            <td>{{ d.balance }}</td>
                            <td>{{ d.type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </main>
{% endblock %}