{% extends 'home/main.html' %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Account History</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Account History</li>
                        </ol>
                        <table class="table col-md-8" >
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">From Customer</th>
                            <th scope="col">To Account</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                            <td>{{ d.account }}</td>
                            <td>{{ d.receiver_account }}</td>
                            <td>{{ d.amount }}</td>
                            <td>{{ d.message }}</td>
                            <td>{{ d.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </main>
{% endblock %}