{% extends 'home/main.html' %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Loan</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Loan</li>
                        </ol>
                            <div class="row">
                            {% if loan != none %}
                                <h1>You have already applied for loan</h1>
                            {% else %}
                                <form method="post" action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="account" value="{{ user.id }}"/>
                                    Amount : <input type="text" name="amount"/><br/><br/>
                                    Message : <input type="textarea" name="message" /><br/><br/>
                                    <input type="submit" name="submit" value="Request" />
                                </form>
                            {% endif %}
                            </div>
                    </div>
                </main>
{% endblock %}