{% extends 'home/main.html' %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Transfer Amount</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Transfer Amount</li>
                        </ol>
                            <form method="post" action="#" enctype="multipart/form-data">
                                {% csrf_token %}
                                From : <input type="text" name="account"/>
                                To: <input type="text" name="receiver_account" />
                                Amount : <input type="text" name="amount"/><br/><br/>
                                Message : <input type="textarea" name="message" /><br/><br/>
                                <input type="submit" name="submit" value="Send" />
                            </form>
                    </div>
                </main>

{% endblock %}