{% extends 'loginmanager/main.html' %}
{% block content %}
<main>
{% for message in messages %}
<div class="alert alert-info" role="alert">
  {{message}}
</div>
{% endfor %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Username</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="text" name="username"
                                       placeholder="Enter Username"/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Password</label>
                                <input class="form-control py-4" id="inputPassword" type="password" name="password"
                                       placeholder="Enter password"/>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox"/>
                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember
                                        password</label>
                                </div>
                            </div>
                            {% comment %} <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="#">Forgot Password?</a>
                            </div> {% endcomment %}
                                <input type="submit" name="submit" value="Login" class="btn btn-primary"/>
                        </form>
                    </div>
                    {% comment %} <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'loginmanager-register' %}">Need an account? Sign up!</a></div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}