{% extends 'loginmanager/main.html' %}
{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">Username : </label>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Your Email :</label>
                                {{ form.email }}
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">Password :    </label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">Password Again: </label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>
                            <p>{{ form.errors }}</p>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create
                                Account
                            </button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'loginmanager-login' %}">Have an account? Go to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}